html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/*
.navbar {
    background-color: #007bff;
}

.navbar-brand, .nav-link {
    color: white !important;
}

.navbar-nav .nav-item:hover {
    background-color: #0056b3;
}

footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    margin-top: 20px;
}

    footer p {
        margin: 0;
        color: #6c757d;
    }
*/